<nav class="navbar-container">
  <!-- Top div1 -->
  <div class="navbar-top" id="navbarTop">
    <div class="followers">
      <p class="followerCount">
        7500k followers
      </p>
    </div>
    <div class="phoneNumber">
      +(402) 763 282 46
    </div>
    <div class="topDivOptions">
      <div class="languageDropdown">
        <div>
          {{currentLanguage}}
        </div>
        <div>
          <ul>
            <li>Spanish</li>
            <li>French</li>
            <li>German</li>
          </ul>
        </div>
      </div>

      <div class="currencyDropdown">
        <div>
          USD
        </div>
        <div>
          <ul>
            <li>EUR</li>
            <li>GBP</li>
            <li>JPY</li>
          </ul>
        </div>
      </div>

      <div class="settingsDropdown">
        <div>
          Settings
        </div>
        <div>
          <ul>
            <li>Profile</li>
            <li>Wishlist</li>
            <li>Cart</li>
            <li>Logout</li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <!--Bottom div2-->
  <div class="navbar-bottom" id="navbarBottom">
    <div class="navLogo">
      <img src="assets/images/logo.png" alt="Logo">
    </div>
    <div class="dropDowns">
      
        <li>Home</li>
        <li>Shop</li>
        <li>Products</li>
        <li>Coupons</li>
        <li>Blog</li>
        <li>Contact</li>
    </div>
    <div class="searchbar">
      <input type="text" placeholder="Search for products...">
      <button type="submit">Search</button>
    </div>
    <div class="bottomDivOptions"></div>
  </div>
</nav>
 
